<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vingcoz.fantasia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fantasia"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".home.ui.activity.EditProfileActivity"></activity>
        <activity android:name=".home.ui.activity.AddAddressActivity" />
        <activity android:name=".home.ui.activity.OrderedItemsActivity" />
        <activity android:name=".home.ui.activity.OrderActivity" />
        <activity android:name=".home.ui.activity.AboutUsActivity" />
        <activity android:name=".home.ui.activity.DefaultAddressActivity" />
        <activity android:name=".home.ui.activity.CartActivity" />
        <activity android:name=".util.BaseActivity" />
        <activity android:name=".home.ui.activity.ForgotPasswordActivity" />
        <activity android:name=".home.ui.activity.ChangepasswordActivity" />
        <activity android:name=".home.ui.activity.MyOrderActivity" />
        <activity android:name=".home.ui.activity.AddressActivity" />
        <activity android:name=".home.ui.activity.PriceDetailsActivity" />
        <activity android:name=".home.ui.activity.ShippingAddressActivity" />
        <activity android:name=".home.ui.activity.ProductDetailsActivity" />
        <activity android:name=".home.ui.activity.ItemActivity" />
        <activity android:name=".home.ui.activity.SubCategoryActivity" />
        <activity android:name=".welcome.WelcomeActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Fantasia.NoActionBar" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>